<h2>
  <% if @target.name.length > 0 %>
    <%= @target.name %>
  <% else %>
    <%= @target.specie.name %>
  <% end %>
</h2>

<% if @target.image.present? %>
  <%= image_tag(@target.image.url, :alt => @target.name, :width => 300) %>
<% elsif @target.specie.image.present? %>
  <%= image_tag(@target.specie.image.url, :alt => @target.specie.name, :width => 200) %>
<% end %>

<h5>Description</h5>
<p><%= @target.description %></p>
