<%# <h1>Hunter</h1> %>
<h2><%= @hunter.name %></h2>
<% if @hunter.image.present? %>
  <%= image_tag(@hunter.image.url, :alt => "rss feed", :width => 200) %>
<% end %>
<h5>Cost</h5>
<p>$<%= @hunter.cost %> per week</p>
<h5>Description</h5>
<p><%= @hunter.description %></p>


<small><%= link_to 'Back', '/hunters' %></small>

