<!DOCTYPE html>
<html>
  <head>
    <title>Hunters R Us</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">Hunters R Us</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="<%= targets_path %>">Targets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= hunters_path %>">Hunters</a>
          </li>
          <% Page.all.each do |page| %>
            <li class="nav-item">
              <a class="nav-link" href="/<%= page.permalink %>"><%= page.title %></a>
            </li>
          <%end %>
        </ul>
        <%# <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> %>
      </div>
    </nav>
  </header>
  <body>
    <% if request.original_url != 'http://localhost:3000/schedules/create_order' %>
      <div class="card text-white bg-primary mb-3 float-right col-2" style="max-width: 20rem;">
        <div class="card-header"><h5>Cart</h5></div>
        <div class="card-body border-top">
        <% unless @cart_target.nil? %>
          <h5 class="card-title">Target</h5>
          <% if @cart_target.name.length > 0 %>
            <p class="card-title"><%= @cart_target.name %></p>
          <% else %>
            <div class="row">
              <div class="col-8">
                <p class="card-title"><%= @cart_target.specie.name %></p>
              </div>
            </div>
          <% end %>
          <%= form_tag("schedules/remove_target", method: "post", class: 'form-inline form-group mt-4') do %>
              <%= submit_tag("Remove", class: "btn btn-danger col align-self-center") %>
          <% end %>
        <% else %>
          <p class="card-title">No Target Selected</p>
        <% end %>
        </div>
        <div class="card-body border-top border-bottom">
        <% unless @cart_hunter.nil? %>
          <h5 class="card-title">Hunter</h5>
          <p class="card-title"><%= @cart_hunter.name %></p>
          <%= form_tag("schedules/remove_hunter", method: "post", class: 'form-inline form-group mt-4') do %>
              <%= submit_tag("Remove", class: "btn btn-danger col align-self-center") %>
          <% end %>
        <% else %>
          <p class="card-title">No Hunter Selected</p>
        <% end %>
        </div>
        <% unless  @cart_target.nil? && @cart_hunter.nil?%>
          <%= form_tag("/schedules/create_order", method: "post", class: 'form-inline form-group mt-4') do %>
            <%# <label class="form-label">Category</label> %>
            <%= submit_tag("To Checkout", class: "btn btn-primary col align-self-center") %>
          <% end %>
        <% end %>
      </div>
      <% end %>
      <%= yield %>
  </body>
</html>

<%# <script>
  $( "#quantity" ).change(function() {
      $.ajax({
        type: 'post',
        url: 'update_quantity',

        data: {quantity: $("#quantity").val()}
      });
      // alert ($("#quantity").val())
  });
</script> %>